*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
  
body{
    background-color: #efefef;
    font-family: 'Bellota', system-ui;
    font-family: 'Josefin Slab', serif;
    font-family: 'Judson', serif;
}
  
.container{
    width: 80%;
    margin: 50px auto;
    border-radius: 1.5rem;
    box-shadow: 10px 10px 50px black;
}

.iconbar{
    display: flex;
    justify-content: space-between;
    padding: 10px 50px;
    flex-wrap: wrap;
    margin-left: 3rem;
    border-bottom: 2px solid #d9d9d9;
}
  
.input-part{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.input-part > img{
    width: 50px;
    height: 50px;
    border-radius: 15px;
    box-shadow: -1px 1px 5px black;
    margin: 1rem;
}
  
.input-part select{
    width: 188px;
    height: 40px;
    background-color: #d9d9d9;
    border-radius: 5px;
    font-family: "Bellota", system-ui;
    font-size: 1rem;
}
  
.search-input{
    width: 300px;
    height: 40px;
    background-color: #d9d9d9;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-input input{
    background-color: initial;
    border: none;
    font-size: 1rem;
    padding: 0.5rem;
}

.support{
    text-align: right;
}

.support-number{
    font-size: 1.2em;
}

.support-text{
    font-size: 0.8rem;
}
 
.icons{
    margin-right: 2rem;
}
  
.icons img{
    padding: 10px;
}

.navbar{
    display: flex;
    align-items: end;
    flex-wrap: wrap;
    padding: 30px 0;
    margin-left: 7rem;
}
  
.button{
    display: flex;
    align-items: center;
    padding: 1rem;
    height: 40px;
    font-size: 1.3rem;
    background-color: #d9d9d9;
    border-radius: 5px;
    font-style: italic;
}

.button p{
    padding: 1rem;
    padding-right: 2rem;
}
  
li{
    display: inline-block;
    margin-left: 2rem;
    font-size: 1.1rem;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    background-image: url(./images/stock.jpg);
    padding: 2rem 5rem;
    margin-top: 1rem;
    gap: 1rem;
}
  
.essential{
    background-color: #d5dee5;
    width: 800px;
    height: 300px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    box-shadow: 5px 5px 10px black;
}
  
.essential-text{
    padding: 20px;
    font-style: italic;
    letter-spacing: 0.3px;
    font-size: 2rem;
}
  
.lighting{
    background-color: #ffc868;
    width: 400px;
    height: 300px;
    overflow: hidden;
    position: relative;
    border-radius: 5px;
    box-shadow: 5px 5px 10px black;
}
  
.lighting img{
    width: 100%;
    height: 300px;
    position: absolute;
    bottom: 0;
}
  
.light{
    width: 80%;
    float: right;
    margin-top: 20px;
    font-style: italic;
    padding: 2rem;
}

.cathegorySection{
    background-color: #AEA08D;
}

.cathegory:hover,
.product:hover{
    cursor: pointer;
    width: 25rem;
    height: 23rem;
}

.cathegoryPart,
.productPart{
    padding: 2rem;
}

.browse{
    font-size: 1.5rem;
}
    
.cathegories{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
    
.cathegory{
    width: 20rem;
    height: 18rem;
    margin: 3rem 2rem 2rem 2rem;
    background-color: #eeecec;
    padding: 1rem 2px 1rem 1rem;
    border-radius: 10px;
    font-family: 'Josefin Slab', serif;
    box-shadow: 2px 2px 50px black;
}
    
.cathegory img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding: 1rem 10px 1rem 1rem;
    border-radius: 2rem;
}

.productSection{
    background-color: #eeecec;
}
      
.products{
    display: flex;
    flex-wrap:wrap ;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 2rem 1rem 1rem 1rem;
}
      
.product{
    width: 20rem;
    height: 18rem;
    background-color: #D9D9D9;
    text-align: center;
    box-shadow: 2px 2px 20px black;
    border-radius: 1rem;
    overflow: hidden;
      
}
.product img{
    width: 100%;
    height: 90%;
    object-fit: cover;
}

.contact{
    background-color: #AEA08D;
    display: flex;
    padding: 2rem;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
  
.expert{
    background-color: inherit;
    width: 50%;
    padding: 1rem;
}
  
.lookforExpert{
    font-family: "Bellota", system-ui;
    font-size: 2rem;
    line-height: 1.5;
}
  
.LeaveInfo{
    margin-top: 1rem;
    line-height: 1.5;
}
  
span{
   color:  #f37705;
}
  
.formSection{
    background-color: inherit;
    width: 40%;
    font-size: 1.5rem;
}
  
.formElement{
    margin: 1.5rem 1rem;
}
  
.formElement input{
    width: 100%;
    background-color: inherit;
    padding: 0.5rem 0;
    border: none;
    border-bottom: 1px solid black;
}
  
.submit{
    padding: 1rem;
    border-radius: 5px;
    width: 13rem;
    height: 2.5rem;
    font-style: italic;
    margin-left: 1rem;
    border: 1px solid black;
    display: flex;
    align-items: center;
}

.copyright{
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    align-items: center;
}

.policy{
    display: flex;
    gap: 1rem;
}
    
.policy a{
    text-decoration: none;
    color: inherit;
    border-bottom: 1px solid black;
}

  